* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {
    background-color: #e0e3ebed;
} */


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-manu {
        position: fixed;
        left: -100%;
        top: 65px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
        color: white;
        font-size: 1.4vmax;

    }


    .nav-manu.active {
        left: 0;
    }

}
 #moon{
    margin-top: 10px;

    width: 20px;
 }

nav {
    /* background-color: #8417f1e0;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: white;
    margin-top: 1px;
    box-shadow: 0px 0px 28px #cca4f1;
    height: 8vh;

}

.web-name a {
    font-size: 2.8vw;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    color: #7E22CE;
    text-decoration: none;

}

li a {
    color: #6B21A8;
    /* color: white; */

    text-decoration: none;
    font-weight: bolder;
}

ul li {
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1.2vmax;
    color: black;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Fira Sans', sans-serif;
}

ul li a {
    transition: all ease 0.2s;

}

ul li a:hover {
    border-bottom: 3px solid #000000;
    color: #000000;

}

ul li a img {
    width: 4vmax;
    border-radius: 50%;
    align-items: center;
}

.img-con {
    margin-top: 0px;

    border-bottom: none;
}

main {
    width: 100%;
    height: 100%;
}

.second-container {
    /* background-color: #440089e0; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.front-img img {
    width: 35vw;
    filter: drop-shadow(3px 3px 7px #b3a9a9);
    cursor: pointer;
}

.text-container {
    width: 60vw;
    color: black;
    margin-top: 3vmax;
}

.text-container-2 {
    width: 60vw;
    color: white;
    margin-top: 3vmax;
}
.First-text {
    font-size: 4vw;

}

.main-text {
    color: #7E22CE;
    font-size: 4.2vw;

}

.second-text {
    font-size: 2.5vw;
    line-height: 5vmax;
}

.small {
    width: 45vw;
    color: #7E7280;
    font-size: 1.5vw;
}

#text {
    margin-top: 1vmax;
}


.btn-con {
    margin-top: 2vmax;
    padding: 1vmax;
    width: 32vmax;
}

.front-btn {
    padding: 1vmax 23px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.second-front-btn {
    padding: 1vmax 23px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#First-btn {
    background-color: #111827;
    color: white;
    font-weight: 600;
    font-size: 1.4vw;
}

#First-btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity));
}

#second-btn {
    margin-left: 21px;
    background-color: #9CA3AF;
    font-weight: 700;
    font-size: 1.4vw;
}

#second-btn:hover {
    opacity: 1;
    background-color: #8a929c;
}

/* Third partetion disigned in my website  */



.third-second-text {
    display: flex;
    align-items: center;
    justify-content: center;

}

.text-center {
    text-align: center;
    margin-top: 8vmax;
}

.text-d {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
    font-weight: 600;
}

.text-10 {
    font-size: 3vw;
    line-height: 2.25rem;
    margin-bottom: 3rem;
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity));
}

.w-5 {
    width: 1rem;
}

.h-5 {
    height: 1.25rem;
    margin: 1vmax 1vmax;
}

.mb-4 {
    margin-bottom: 1rem;

}

.block {
    display: block;
}

.first-text-container {
    width: 43vmax;
    margin: 2vmax;
    border-radius: 5px;

}

.to-moris {
    margin: 1vmax;
    padding: 1.4vmax;
}

.text-11 {
    background-color: #F3F4F6;
}

.pera-2 {
    padding: 1vmax;
    width: 35vmax;
    color: #7E7280;
    font-size: 1.2vw;
}

.span-1,
.span-2 {

    margin-left: 12px;
    font-size: 1.2vw;

}

.span-1 {
    font-size: 2vw;
}

.span-2 {
    color: #7E7280;
    line-height: 3vw;
    font-size: 1.4vw;
}

footer {
    color: #6B7280;
    /* background-color: aliceblue; */
}

.main-footer {
    margin-top: 3vmax;
    margin-bottom: 1vmax;
}

.footer-main-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.same-class {
    margin-top: 5vmax;
    margin-bottom: 1vmax;
}

.first-footer img {
    width: 6vw;
    border-radius: 50%;

}


.third-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-svg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2vw;
}

.icon-svg-3 {
    border: 0 solid #a3a5aa;
}

.footer-text {
    font-size: 1.5vw;
    border-left: 2px solid #a3a5aa;
    padding-left: 2px;
}

.main-footer-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    font-size: 2.7vw;
}

/* 
For Mobile devices: 320px-480px
For Tablets or iPad: 480px - 768px
For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
For Extra-large size device: 1200px and more
 */



@media (min-width: 640px) {
    .sm\:justify-start {

        justify-content: flex-start;
    }
}


@media (min-width: 640px) {
    .sm\:mt-0 {

        margin-top: 0;
    }
}

@media screen and (min-width: 0px) and (max-width:715px) {
    .third-second-text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


}

@media screen and (min-width : 0px) and (max-width:400px) {
    .pera-2 {
        font-size: 4vw;
    }

}

@media screen and (min-width : 0px) and (max-width:400px) {
    .span-1 {
        font-size: 3.5vw;
    }

}

@media screen and (min-width : 0px) and (max-width:400px) {
    .span-2 {
        color: #7E7280;
        line-height: 3.6vw;
        font-size: 2.8vw;
    }
}

@media screen and (min-width : 0px) and (max-width:400px) {
    .small {
        width: 45vw;
        color: #7E7280;
        font-size: 3vw;
    }
}



@media screen and (min-width : 0px) and (max-width:400px) {
    .small {
        width: 45vw;
        color: #7E7280;
        font-size: 3vw;
    }
}

@media screen and (min-width : 400px) and (max-width:1024px) {
    .pera-2 {

        font-size: 2vw;
    }
}

@media screen and (min-width: 320px) and (max-width:400px) {
    .small {
        width: 50vw;
        color: #7E7280;
        font-size: 2.2vw;
    }
}

/* For Tablets or iPad: 480px - 768px */

@media screen and (min-width: 480px) and (max-width:768px) {

    .first-text-container {
        width: 30vmax;
        margin: 0.2vmax;
        border-radius: 5px;

    }

}

@media screen and (min-width : 120px) and (max-width:400px) {

    .icon-1 {

        height: 1rem;
        width: 0.5rem;
        margin: 0.5vmax 0.5vmax;

    }

}

@media screen and (min-width : 120px) and (max-width:400px) {


    .web-name a {
        font-size: 6.2vw;
        font-weight: 600;
        font-family: 'Fira Sans', sans-serif;
        color: #8800ff;
        text-decoration: none;

    }


} 

 

@media screen and (min-width : 0px) and (max-width:896px) {


    .text-10 {
        font-size: 5vw;
        line-height: 2.25rem;
        margin-bottom: 0rem;
    }
           .pro-h1 {
               font-size: 7vw;
           }
    
            
}

 @media screen and (min-width : 0px) and (max-width:400px) {
     .about-h1 {
         font-size: 7vw;
     }

     .sub-text-head {
         font-size: 7vw;
     }
  .pro-h1 span {
      color: white;
      font-size: 6vw;
  }
 }
 
@media screen and (min-width: 120px) and (max-width:715px) {

    .first-footer {
        padding-left: 10.8vmax;
    }

    .first-footer img {
        width: 15vw;
        border-radius: 50%;
    }

    .main-footer-text {
        font-size: 7.2vw;

    }

    .to-do {
        padding-left: -1vmax;
        padding-right: 2vmax;
    }

    .same-class {
        margin-top: 0vmax;
        margin-bottom: 3vmax;
    }

    .footer-text {
        font-size: 4.5vw;
        border-left: 2px solid #a3a5aa;
        padding-left: 2px;
    }

    .main-footer-text {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: black;
        margin-right: 47px;
    }
}

/* myprofile page design  */
.text-main {
    text-align: center;
    margin-top: 8vmax;
}

.first-profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-text {
    font-size: 3vw;
}

.same-profile-text {
    font-size: 4vw;
    font-weight: 700; 
    font-family: 'Ubuntu', sans-serif;
}

.profile-h3 {
    font-size: 2vw;
    padding: 2vw;
    font-weight: 600;
}

.profile-card-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vmax;
    /* flex-wrap: wrap; */
}

.profile-card {
    background-color: white;
    color: black;
    width: 20vmax;
    height: 30vmax;
    text-align: left;
    margin: 1vmax;
    padding: 2vmax;
    border-bottom: 12px solid black;
}

.profile-card img {
    width: 10vmax;
    padding: 1vmax;
}
@media screen and (min-width: 120px) and (max-width:715px) {
    .same-profile-text {
        font-size: 5vw;
        font-weight: 700; 
        font-family: 'Ubuntu', sans-serif;
    }

    .profile-card-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 1vmax;
        flex-wrap: wrap;
    }

    .profile-card {
        background-color: white;
        color: black;
        width: 30vmax;
        height: 25vmax;
        text-align: left;
        margin: 1vmax;
        padding: 2vmax;
        border-bottom: 12px solid black;
    }

    .profile-card img {
        width: 10vmax;

    }
}


.project {
    background-color: #d9c7e9;
    padding: 2.5vmax;
    color: #6B21A8;


}

.head-1 {
    font-size: 4vw;
    padding: 2vmax;
    font-weight: bold;

}

.head-2 {
    font-size: 2.2vw;
    padding: 0vmax 36px 19px 19px;

}

.project-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: white;
    margin-top: 1px;
}

.nav-ul {
    box-shadow: 0 0 0 0 white;
    margin-top: 2vmax;
}

.nav-item a {
    font-size: 2vw;
    padding: 1vmax 8px 8px 10px;
    color: #6B21A8;

}

.nav-item a:hover {
    background-color: #bfc3ca;
    border-radius: 10px;
    border-bottom: 0px solid white;
    color: #713f9b;

}

/* card design  */
.project-card-container {
    margin-top: 5vmax;
}


@media (min-width: 640px) {
    .sm\:mt-0 {

        margin-top: 0;
    }
}

@media screen and (min-width: 120px) and (max-width:715px) {
    .project-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2vmax;
        flex-wrap: wrap;
    }


}

@media screen and (min-width : 1024px) and (max-width:1200px) {}

@media screen and (min-width : 400px) and (max-width:1024px) {
    .pera-2 {

        font-size: 2vw;
    }
}

@media screen and (min-width: 320px) and (max-width:400px) {
    .small {
        width: 50vw;
        color: #7E7280;
        font-size: 2.2vw;
    }
}

.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vmax;

}

.first-project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vmax;

}

.first-project-card {
    background-color: #ded9e4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

.first-text-card h6 {
    font-size: 2vw;
    text-align: center;
    border-bottom: 2px solid rgb(184, 172, 172);
    width: 100%;
}

.same {
    font-family: cursive;
    padding: 1vmax;

}

.first-project-card img {
    width: 100%;
    align-items: center;
}

.card-btn {
    padding: 1vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-sm {
    padding: 1vmax;
    margin: 0.8vmax;
    font-size: 1.5vw;
    color: #6B21A8;
    font-weight: bold;
    cursor: pointer;
}

.btn-sm-a a {
    text-decoration: none;
    padding: 1vmax;
    margin: 0.8vmax;
    font-size: 1.5vw;
    color: #6B21A8;
    font-weight: bold;
    cursor: pointer;
}

.btn-sm-a a:hover {
    background-color: #aea2be;
    color: #000000;
    border-radius: 10px 10px 10px 10px;
}

.btn-sm:hover {
    background-color: #aea2be;
    color: #000000;
    border-radius: 10px 10px 10px 10px;
}